extends layout

block content
  .header
    a.hidden-in-print(href="/") 回首頁
  .first
    .repairOrder
      table
        tr
          td
            label 客戶名稱
          td= repair.customer
          td
            label 電話
          td= repair.cellphone
          td
            label 報修時間
          td= repair.formatDate
        tr
          td
            label 聯絡人
          td
          td
            label 地址
          td
        tr
          td
            label 報修原因
          td(colspan="5")= repair.reason
      p
        第一聯：會計聯
  .second
    .repairOrder
      table
        tr
          td
            label 客戶名稱
          td= repair.customer
          td
            label 電話
          td= repair.cellphone
          td
            label 報修時間
          td= repair.formatDate
        tr
          td
            label 報修原因
          td(colspan="5")= repair.reason
  .third
    .repairOrder
      table
        tr
          td
            label 客戶名稱
          td= repair.customer
          td
            label 電話
          td= repair.cellphone
          td
            label 報修時間
          td= repair.formatDate
        tr
          td
            label 報修原因
          td(colspan="5")= repair.reason
